<!DOCTYPE html>
<!-- We create a separate layout for the login because we don't want the navigation bar on the login screen. -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/style.css">
  <title>StoryBooks Home</title>
</head>

<body>
  {{> _header}}
  <!-- nav bar, put together with Materialize -->
  {{> _add_btn}}
  <div class="container">
    <!-- Styling class from Materialize -->
    {{{body}}}
  </div>


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <!-- CK Editor - Used to get a WYSIWYG editor for the story creation form -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.17.1/ckeditor.js" integrity="sha512-VXEKi5eNc7ECuyIueuledlqeUWiJ7hcxBe9fnsCiVzeZ0XwJxAPemnq01/LBIBnp3i0szhvKNd9Us7fqNPsRmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    M.Sidenav.init(document.querySelector('.sidenav')); // Need to initialize the sidenav fro Materialize
    M.FormSelect.init(document.querySelector('#status')); // Need to initialize status (for the add story layout) (Materialize)
    
    CKEDITOR.replace('body', {
      plugins: 'wysiwygarea, toolbar, basicstyles, link'
    }); // Initialize ckeditor for the form field named 'body'
  </script>

</body>

</html>